postInstall:
  labelNamespace:
    enabled: true
audit:
  enabled: true
constraintViolationsLimit: 20
controllerManager:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
enableExternalData: true
violations:
  limitExceeded: warn
