name: Node Tests
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install deps
        run: |
          cd control-plane
          npm install
      - name: Basic typecheck
        run: |
          cd control-plane
          npx tsc -p tsconfig.json --noEmit
      - name: Ensure server builds (no run)
        run: |
          cd control-plane
          npm run build || echo "Build failed" && exit 1
