apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: control-plane
  labels:
    app: control-plane
spec:
  selector:
    matchLabels:
      app: control-plane
  namespaceSelector:
    matchNames:
      - control-plane
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
      scheme: http
